<div class="container table-container" ng-controller="TableDataController" ng-init="getTableData()">
    <div class="row">
        <div>
            <div >
                <div layout="row" style="left: 30%;position: relative;height: 50px;" flex-gt-md="30" class="range layout-column flex-gt-md-30">
                    <input mdc-datetime-picker="" date="true" time="true" type="text" 
                    placeholder="From Date" max-date="dateTimeEnd" ng-model="fromDate" class="search-input-date md-input"
                    readonly="false" id="input_0">
                    <input mdc-datetime-picker="" date="true" time="true" type="text" ng-model="toDate"
                    placeholder="To Date" min-date="dateTimeStart"="dateTimeEnd" class="search-input-date md-input" readonly="false"
                    id="input_1">
                    <md-button class="search-table-button" ng-click="searchTableRange()">Search</md-button>
               </div>
            </div>       
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
                <div class="row">
                    <div class="col-md-3">
                        <span class="items">{{filtered.length}} items total</span>
                    </div>
                    <div class="col-md-9 text-right">
                        <form class="form-inline pull-right margin-bottom-basic">
                            <div class="form-group">
                                <grid-pagination max-size="5"
                                                 boundary-links="true"
                                                 class="pagination-sm"
                                                 total-items="paginationOptions.totalItems"
                                                 ng-model="paginationOptions.currentPage"
                                                 ng-change="reloadGrid()"
                                                 items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                            </div>
                            <div class="form-group items-per-page">
                                <label for="itemsOnPageSelect1">Items per page:</label>
                                <select id="itemsOnPageSelect1" class="form-control input-sm" ng-init="paginationOptions.itemsPerPage = '100'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                    <option>100</option>
                                    <option>250</option>
                                    <option>500</option>
                                    <option>750</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th sortable="code" class="sortable">
                            dId
                        </th>
                        <th sortable="placed" class="sortable">
                            ts
                        </th>
                        <th sortable="placed" class="sortable">
                            cd
                        </th>
                        <th sortable="placed" class="sortable">
                            d0
                        </th>
                        <th sortable="placed" class="sortable">
                            d1
                        </th>
                        <th sortable="placed" class="sortable">
                            d2
                        </th>
                         <th sortable="placed" class="sortable">
                            d3
                        </th>
                        <th sortable="placed" class="sortable">
                            f0
                        </th>
                        <th sortable="placed" class="sortable">
                            f1
                        </th>
                        <th sortable="placed" class="sortable">
                            a0
                        </th>
                        <th sortable="placed" class="sortable">
                            a1
                        </th>
                        <th sortable="placed" class="sortable">
                            a2
                        </th>
                        <th sortable="placed" class="sortable">
                            a3
                        </th>
                         <th sortable="placed" class="sortable">
                            a4
                        </th>
                         <th sortable="placed" class="sortable">
                            a5
                        </th>
                         
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr grid-item>
                        <td ng-bind="item.dId"></td>
                        <td ng-bind="item.ts"></td>
                        <td ng-bind="item.cd"></td>
                        <td ng-bind="item.d0"></td>
                        <td ng-bind="item.d1"></td>
                        <td ng-bind="item.d2"></td>
                        <td ng-bind="item.d3"></td>
                        <td ng-bind="item.f0"></td>
                        <td ng-bind="item.f1"></td>
                        <td ng-bind="item.a0"></td>
                        <td ng-bind="item.a1"></td>
                        <td ng-bind="item.a2"></td>
                        <td ng-bind="item.a3"></td>
                        <td ng-bind="item.a4"></td>
                        <td ng-bind="item.a5"></td>                   
                    </tr>
                    </tbody>
                </table>
                <form class="form-inline pull-right margin-bottom-basic">
                    <div class="form-group">
                        <grid-pagination max-size="5"
                                         boundary-links="true"
                                         class="pagination-sm"
                                         total-items="paginationOptions.totalItems"
                                         ng-model="paginationOptions.currentPage"
                                         ng-change="reloadGrid()"
                                         items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    </div>
                    <div class="form-group items-per-page">
                        <label for="itemsOnPageSelect2">Items per page:</label>
                        <select id="itemsOnPageSelect2" class="form-control input-sm" ng-init="paginationOptions.itemsPerPage = '100'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <option>100</option>
                            <option>250</option>
                            <option>500</option>
                            <option>750</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>