
<div ng-controller="MachineChartController">
 <div  id="chartsDiv" class="row"  ng-init="chartInit()" style="top: 55px;padding-top:60px;position: absolute; width: 100%; background: #fbfcfd;margin-right: 0px;margin-left: 0px">
    <div class="col-md-3" style="border-right: 1px solid #e2e2e2;width: 12%;height: 610px;top: -60px;padding-top: 60px;background: #f5f5f5;">
        <div style="width: 150px; background: #fbfcfd;position: absolute;">
            <table style="position: absolute; border-collapse: separate;border-spacing: 0.5em;left:-20px">
                <tr>
                     <td>
                        <ul>
                            <li style="list-style-type: none;cursor: pointer">
                                <a  style="cursor: pointer" ui-sref='home'>
                                    <img id="historic-home-img" style="width: 24px;height: 24px" ng-src="./modules/core/client/img/home_default.png"></img>
                                    <span  style="color: #666">Home</span>        
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                     <td>
                        <ul>
                            <li style="list-style-type: none;cursor: pointer">
                                <a  style="cursor: pointer" ng-click="goToLive()">
                                     <img id="historic-live-img" style="width: 24px;height: 24px" ng-src="./modules/core/client/img/live_default.png"></img>
                                      <span style="color: #666">Live</span> 
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                   <td>
                        <ul>
                            <li style="color: #004aac;list-style-type: disc;font-size: 15px">
                                <a style="color: #004aac">
                                    <img id="historic-historic-img" style="width: 24px;height: 24px" ng-src="./modules/core/client/img/historical_clicked.png"></img>
                                    <span style="color: #004aac">Historical</span> 
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>         
        </div>
    </div>
    <div id="mainChartContainer" class="col-md-6"  > 
        <div style="top:-45px;position: absolute">
            <md-button style="background: #004aac;color: white;border-radius: 50px;font-weight: bold;width: 55px;height: 25px" ng-click="goToMonths()">Back</md-button>
            <!--<img id="backImage" style="height: 20px" ng-src="./modules/core/client/img/back.png" ng-click="goToMonths()" ></img>-->
        </div>
        <div id="containerChart" style="width: 100%;background: white;height: 365px;
                 box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">    
         <div layout="row" layout-sm="column" layout-align="space-around" style="top:200px;right:150px;position: absolute">
             <md-progress-circular md-mode="determinate" value="{{determinateValue}}"></md-progress-circular>
        </div>
        </div>
        <div id="flowContainer" ng-hide="isFlowContainerVisible == 'false'?true:false"  style="height: 200px;box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
        </div>
    </div>
    <div id="carouselContainer" class="col-md-3" ng-controller="MachineChartController" style="text-align: center"> 
        <div id="messageContainer" style="position: relative;top: 30%" ng-show="messageContainerVisible  ? true:false">
           <span style="color: #004aac;font-size: 20px"><b>The monthly data is shown by the graph on the left.</b></span>
           </br>
           <span style="color: #999;font-size: 18px;">Click on any month to drilldown further.</span>
           <hr style="bottom: 10px"></hr>
        </div>
    </div>    
    </div>
</div>   
 <!--<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script> -->
