<section>
    <div class="row" style="position: absolute;top:75px">
      <div class="col-md-2">
        
          <table style="width: 100%;border-collapse: separate;border-spacing: 0 1em;margin: 10px">
              <tr>
                <td>
                  <ul>
                    <li id="machineList" style="list-style: disc;cursor: pointer;color: blue">
                       <a ng-click="tabChange('machines','machineList')">Machines</a>
                    </li>
                  </ul>
                  </td>    
              </tr>
              <tr>
                <td>
                   <ul>
                    <li id="userList" style="list-style:none;cursor:pointer">
                      <a ng-click="tabChange('users','userList')">Users</a>
                    </li>
                  </ul>
                </td> 
              </tr>
              <!--<tr>
                <td>
                  <ul>
                    <li>
                       <a ng-click="tabChange('settings')">My Settings</a>
                      </li>
                    </ul>
                </td> 
              </tr>-->
          </table>
      </div>
      <div class="col-md-10">
        <div id="userContainer" ng-show="currentTab == 'users' ?true:false" style="width: 1024px">
            <div class="row" style="width: 70%">
                <div style="margin-left: 30%">
                    <input class="form-control" style="border-radius: 50px;box-shadow: 0 0 10px #c7c7c7;" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
                </div>
                 <img ng-src="./modules/core/client/img/plus.png" ng-click="addMachines()" style="width: 30px;height: 30px;right: 200px;top: 0px;position: absolute;"></img>
            </div>
          <div class='md-padding' layout="row" layout-wrap style="margin-top: 30px;height: 100%;width: 100%">
                <md-card  ng-repeat="users in pagedItems" style="width: 250px;height: 180px;margin: 25px;
                box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
                  <md-card-title>
                    <md-card-title-text>
                      <!--<span class="md-headline">Card with image</span>-->
                      <span style="margin: 1px;color: #333333">Godrej 1</span>
                      <span style="margin: 1px;color: #333333">Chincwad</span>
                    
                       <span style="margin-top: 4px;color: #333333" >USERS</span>
                       <span style="margin: 1px;color: #333333">Amit roy,Prakash Kumar</span>
                       <!--<span class="md-subhead">USE</span>-->
                    </md-card-title-text>
                    <md-card-title-media>
                       <img ng-src="./modules/core/client/img/edit.png" style="width: 25px;height: 25px"></img>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-actions layout="row" layout-align="end center" style="margin: 0px">
                    <md-button style="width: 100%;background: #08c65b;color: white" ng-click="editMachines(users)">Details</md-button>
                  </md-card-actions>
              </md-card>   
          </div>
      </div>    
    <div  id="machineContainer" ng-show="currentTab == 'machines' ?true:false" ng-init="getMachines()" style="width: 1024px"> 
      <div class="row" style="width: 70%">
                <div  style="margin-left: 30%">
                    <input class="form-control" style="border-radius: 50px;box-shadow: 0 0 10px #c7c7c7;" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
                </div>
            </div>
        <div class='md-padding' layout="row" layout-wrap style="margin-top: 30px;height: 100%;width: 100%" > 
            <md-card  ng-repeat="machines in machineListById" style="width: 250px;height: 125px;margin: 25px">
              <md-card-title>
                 <md-card-title-text>
                   <img ng-src="./modules/core/client/img/default.png" style="width: 50px;height: 50px"></img>
                </md-card-title-text>
                <md-card-title-text>
                  <span style="margin: 1px;color: #333333">{{machines.machineName}}</span>
                  <span style="margin: 1px;color: #333333">{{machines.location}}</span>            
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" style="margin: 0px;">
                <table style="width: 100%;height: 100%">
                  <tr>
                    <td style="text-align: center;border-right: 1px solid #e2e2e2">
                       <img ui-sref="live" ng-src="./modules/core/client/img/stats.png"></img>
                    </td>
                    <td style="text-align: center">
                       <img ui-sref="table" ng-src="./modules/core/client/img/settings.png"></img>
                    </td>
                  </tr>            
                </table>
              </md-card-actions>
          </md-card>   
         </div>
      </div>
      <div class='md-padding' layout="row" layout-wrap style="margin-top: 30px;height: 100%;width: 100%" id="settingContainer" ng-show="isTabVisible == 'settings' ?true:false"> 
        <h2>Settings</h2>
      </div>         
      </div>
   </div>
</section>
  <!--<pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->

